*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  
}
body{
  background-image: url(./Components/Assets/Background.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  color: white;
  height: 100vh;
}/* .Background{
  height: 100%;
} */
.Main-Container{
  background: rgba(255, 255, 255, 0.191);
  max-width: 800px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
/* .update-btn{
background-color: ;
} */

.alertTodo{
  font-size: 23px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Main-Container .inputDiv{
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;

}
.todoBtn{
  width: 60px;
  height: 50px;
  border-radius: 6px;
  color: #fff;
  margin-left: 10px;
  background: #1b2289dc;
  margin-top: 5px;
  cursor: pointer;
}
.inputFeild{
  width: 100%;
  height: 70px;
  outline:none;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 20px;
  padding-left: 15px;
}
.Main-Container h1{
  padding-left: 24px;
  color: rgba(0, 0, 0, 0.563) 
}
.form-control{
  width: 100%;
  height: 60px;
}
.updateBtn{
width: 70px;
height: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.icon{
 cursor: pointer;
}

.SignUpBtn{
  margin: 20px;
}
.LoginBtn{
  margin: 20px;
}
