
.navbarApp {
  background-color: rgba(17, 30, 61, 0.833);
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.navbarApp > div ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.navbarApp > div ul li {
  cursor: pointer;
}

.navbarApp > div ul li a {
  
  color: white !important;
  padding: 8px;
}

.activeLink {
  background-color:#D63918;
  border-radius: 10px;
  color: rgb(0, 0, 0) !important;
  
}
